# Created by .ignore support plugin (hsz.mobi)
/lcov.log
/lcov.info
/oradb_modules/
/.idea/
/**/*.~*
w
/node_modules/
/_src_export.sql


/report/html/*
!/report/html/readme.md
/report/src/*
!/report/src/readme.md

/report/lcov.info
